.login-form {
    width: 30rem;
    height: 25rem;
    padding: 2rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;

}

.login-container {
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}